<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jamesmumo.tubonge">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.jamesmumo.tubonge.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".userEvents.DevelopmentItem"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".authEmail.FinishAsProfessional"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".authEmail.SignUpAsProfessional"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".userEvents.ViewSingleProfessional"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".userEvents.WhatMakingYouFeel"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".userEvents.MoodControl"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".userEvents.MentalDisorders"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".userEvents.ViewProfessional"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".userEvents.SuicidePrevention"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".userEvents.AddictionRecovery"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".userEvents.SelfDevelopment"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".userEvents.ThoughtsDiary"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".userEvents.PeerCounselling"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".userEvents.ViewEvents"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="com.jamesmumo.tubonge.groupSettings.GUsernameActivity" />
        <activity android:name="com.jamesmumo.tubonge.groupSettings.GnameActivity" />
        <activity android:name="com.jamesmumo.tubonge.groupSettings.gLinkActivity" />
        <activity android:name="com.jamesmumo.tubonge.groupSettings.GbioActivity" />
        <activity android:name="com.jamesmumo.tubonge.settings.UsernameActivity" />
        <activity android:name="com.jamesmumo.tubonge.notifications.NotificationScreen" />
        <activity android:name="com.jamesmumo.tubonge.settings.NameActivity" />
        <activity android:name="com.jamesmumo.tubonge.settings.LocationActivity" />
        <activity android:name="com.jamesmumo.tubonge.settings.LinkActivity" />
        <activity android:name="com.jamesmumo.tubonge.settings.BioActivity" />
        <activity android:name="com.jamesmumo.tubonge.Check" />
        <activity
            android:name=".adapter.menu.ChangeEmail"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adapter.menu.ChangePassword"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adapter.menu.Policy"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.post.Post"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.post.Report"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name="com.jamesmumo.tubonge.user.MediaView" />
        <activity
            android:name="com.jamesmumo.tubonge.user.StoryView"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.user.AddStory"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adapter.menu.Saved"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.groupSettings.EditGroup"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.groups.GroupProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.groups.AddParticipants"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.groups.GroupChat"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.groups.CreateGroup"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.groups.ShareGroupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.post.PostLikedBy"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.shareChat.ShareChatActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="Add to chat"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jamesmumo.tubonge.shareChat.ShareActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.user.MyFollowing"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.post.PostDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.post.UpdatePost"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.user.FollowersList"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.user.UserProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.search.Search"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.shareChat.Chat"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adapter.menu.Menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.search.ProfileSearch"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.settings.EditProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jamesmumo.tubonge.authPhone.Final"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AuthTheme" />
        <activity
            android:name="com.jamesmumo.tubonge.authPhone.VerifyOTP"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AuthTheme" />
        <activity
            android:name="com.jamesmumo.tubonge.authPhone.GenerateOTP"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AuthTheme" />
        <activity
            android:name=".authEmail.ForgotPassword"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AuthTheme" />
        <activity
            android:name=".authEmail.Finish"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AuthTheme" />
        <activity
            android:name=".authEmail.SignUp"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AuthTheme" />
        <activity
            android:name=".authEmail.SignIn"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AuthTheme" />
        <activity
            android:name="com.jamesmumo.tubonge.welcome.IntroLast"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AuthTheme" />
        <activity
            android:name="com.jamesmumo.tubonge.welcome.IntroActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AuthTheme" />
        <activity
            android:name="com.jamesmumo.tubonge.welcome.SplashScreen"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AuthTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jamesmumo.tubonge.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7109513538039433~7525596253" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jamesmumo.tubonge.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <service
            android:name="com.jamesmumo.tubonge.notifications.FirebaseMessaging"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>